<header>
  <div class="p-4 border-0 bg-red-600">
    <nav>
      <ul class="flex justify-between">
        <div>
          <h1 class="font-black text-xl">GatoNet</h1>
        </div>
        <div class="flex items-center gap-1 text-white">
          <li>
            <a (click)="changeViewMode('about')" class="transition cursor-pointer delay-75 hover:text-black p-2">Sobre</a>
          </li>
          <li>
            <a (click)="changeViewMode('plans')" class="transition cursor-pointer delay-75 hover:text-black p-2">Planos</a>
          </li>
          <li>
            <a (click)="changeViewMode('plansTwo')" class="transition cursor-pointer delay-75 hover:text-black p-2">Planos Disponíveis</a>
          </li>
          <li>
            <a (click)="changeViewMode('faq')" class="transition cursor-pointer delay-75 hover:text-black p-2">FAQ</a>
          </li>
        </div>
        <div class="text-white flex gap-3">
          <button (click)="changeViewMode('register')" class="bg-white hover:bg-gray-400 transition delay-75 rounded-md text-black font-bold w-28 h-8">Registrar-se</button>
          <button (click)="changeViewMode('login')" class="bg-white hover:bg-gray-400 transition delay-75 rounded-md text-black font-bold w-28 h-8">Entrar</button>
        </div>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div *ngIf="viewMode === 'about'">
    <h1 class="font-bold text-2xl">Sobre</h1>
  </div>
  <div *ngIf="viewMode === 'plans'">
    <h1 class="font-bold text-2xl">Planos</h1>
  </div>
  <div *ngIf="viewMode === 'plansTwo'">
    <h1 class="font-bold text-2xl">Planos Disponiveis</h1>
  </div>
  <div *ngIf="viewMode === 'faq'">
    <h1 class="font-bold text-2xl">FAQ</h1>
  </div>
  <div *ngIf="viewMode === 'register'">
    <form  class="mt-9 rounded-md p-9 text-center mx-auto text-white h-auto w-96 bg-red-600">
      <h1 class="font-bold text-2xl">Cadastrar</h1>
      <div class="form-group text-start mt-4">
        <label for="name">Nome:</label>
        <input name="name" id="name" type="text" placeholder="Seu nome" class="py-2 bg-transparent	border-b-2 focus:outline-none border-white">
      </div>
      <div class="form-group text-start mt-4">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="Seu email" class="py-2 bg-transparent border-b-2 focus:outline-none border-white">
      </div>
      <div class="form-group text-start mt-4">
        <label for="password">Senha</label>
        <input name="password" id="password" type="password" placeholder="Sua senha" class="py-2 bg-transparent	border-b-2 focus:outline-none border-white">
      </div>
      <div class="form-group text-start mt-4">
        <label for="address">Rua/Número</label>
        <input name="address" id="address" type="text" placeholder="Seu endereço" class="py-2 bg-transparent border-b-2 focus:outline-none border-white">
      </div>
      <div class="form-group mt-4">
        <button class="bg-white hover:bg-gray-400 transition delay-75 rounded-md text-black font-bold w-28 h-8">Enviar</button>
      </div>
    </form>
  </div>
  <div *ngIf="viewMode === 'login'">
    <form  class="mt-9 rounded-md p-9 text-center mx-auto text-white h-auto w-96 bg-red-600">
      <h1 class="font-bold text-2xl">Login</h1>
      <div class="form-group text-start mt-4">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" placeholder="Seu email" class="py-2 bg-transparent border-b-2 focus:outline-none border-white">
      </div>
      <div class="form-group text-start mt-4">
        <label for="password">Senha</label>
        <input name="password" id="password" type="password" placeholder="Sua senha" class="py-2 bg-transparent	border-b-2 focus:outline-none border-white">
      </div>
      <div class="form-group mt-4">
        <button class="bg-white hover:bg-gray-400 transition delay-75 rounded-md text-black font-bold w-28 h-8">Enviar</button>
      </div>
    </form>
  </div>
</main>
